[Unit]
Description=Gunicorn instance to serve myproject
After=network.target

[Service]
User=vagrant
Group=www-data
WorkingDirectory=/home/vagrant/myproject
ExecStart=/usr/local/bin/gunicorn --workers 1 --bind 127.0.0.1:5000 myproject:app

[Install]
WantedBy=multi-user.target